body {
    width: 100%;
    height: 100vh;
    background: -webkit-radial-gradient(ellipse farthest-corner at top, #fff 40%, #eee);
    background: radial-gradient(ellipse farthest-corner at top, #fff 40%, #eee);
    background-color: red;
}
.lock {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background: -webkit-radial-gradient(circle farthest-corner at top, #f9f9f9 60%, #ECE9E6);
    background: radial-gradient(circle farthest-corner at top, #f9f9f9 60%, #ECE9E6);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.lock:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: aqua;
    box-sizing: border-box;
    border: solid 16px white;
    box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-animation: colormorph 8s linear infinite;
    animation: colormorph 8s linear infinite;
}
.lock:after {
    content: " ";
    text-align: center;
    line-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    border-radius: 100%;
    background: white;
    box-sizing: border-box;
    border: solid 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.05), 0 6px 10px 2px rgba(0, 0, 0, 0.4);
}
.fi-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: green;
    z-index: 2;
    -webkit-animation: textbeat 4s linear infinite;
    animation: textbeat 4s linear infinite;
}
@-webkit-keyframes textbeat {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.8) translate(-50%, -50%);
        transform: scale(0.8) translate(-50%, -50%);
    }
    50% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.8) translate(-50%, -50%);
        transform: scale(0.8) translate(-50%, -50%);
    }
}
@keyframes textbeat {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.8) translate(-50%, -50%);
        transform: scale(0.8) translate(-50%, -50%);
    }
    50% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.8) translate(-50%, -50%);
        transform: scale(0.8) translate(-50%, -50%);
    }
}
@-webkit-keyframes colormorph {
    0% {
        background: aqua;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    25% {
        background: #F1FF98;
        box-shadow: inset 0 20px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    50% {
        background: #98FFA4;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    75% {
        background: #FF98FD;
        box-shadow: inset 0 20px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    100% {
        background: aqua;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
}
@keyframes colormorph {
    0% {
        background: aqua;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    25% {
        background: #F1FF98;
        box-shadow: inset 0 20px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    50% {
        background: #98FFA4;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    75% {
        background: #FF98FD;
        box-shadow: inset 0 20px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
    100% {
        background: aqua;
        box-shadow: inset 0 30px 10px 6px rgba(0, 0, 0, 0.3), inset 0 -4px 4px 4px rgba(0, 0, 0, 0.1);
    }
}
