body {
    background-color: rgb(230, 245, 245);
    color: #69b6ae;
}
.white {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #000;
}
.top img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text h3 {
    font-weight: 600;
    margin-top: 10px;
    font-family: "Droid Serif";
    text-align: center;
}
.message {
    color: rgb(119, 119, 119);
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 0.90rem;
}

/*

            SMARTPHONES (portrait and landscape)
-------------------------------------------------------------- */

@media only screen and (max-device-width: 480px) {
    /* STYLES GO HERE */
    body {
        background-color: forestgreen;
    }
    .white {
        margin-bottom: 10px;
        width: 600px;
    }
    .top img {
        width: 100%;
        height: 80px;
    }
    .text h3 {
        font-weight: 600;
        margin-top: 10px;
        font-family: "Droid Serif";
        text-align: center;
    }
    .message {
        color: rgb(119, 119, 119);
        margin-left: 40px;
        font-size: 0.90rem;
    }
    .nice {
        margin-left: -40px;
    }
}
