html {
    height: 100%;
    font-family: 'Raleway', serif;
}
body {
    background-image: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?dpr=2&fit=crop&fm=jpg&h=775&q=50&w=1450);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.content {
    text-align: center;
    padding-top: 15%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', serif;
}
h1 {
    font-weight: 700;
    font-size: 5em;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.title {
    text-decoration: none;
    color: black;
}
.button {
    border-radius: 25px;
    background-color: #f8f8f8;
    color: blue;
    font-size: 20px;
}
.content .button:hover {
    color: blue;
    background-color: blueviolet;
}
