@keyframes "anim" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    25% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
    }
    50% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
    }
    75% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
    }
}
@-moz-keyframes anim {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        box-shadow: none;
    }
    25% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
    }
    50% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
    }
    75% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
    }
}
@-webkit-keyframes "anim" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    25% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
    }
    50% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
    }
    75% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
    }
}
@-ms-keyframes "anim" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        box-shadow: none;
    }
    25% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
    }
    50% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
    }
    75% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
    }
}
@-o-keyframes "anim" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
        box-shadow: none;
    }
    25% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c;
    }
    50% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c;
    }
    75% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        box-shadow: 0 0 0 0.2em #EDEEE8, 0 0 0 0.4em #2c2c2c, 0 0 0 0.6em #EDEEE8, 0 0 0 0.8em #2c2c2c, 0 0 0 1em #EDEEE8, 0 0 0 1.2em #2c2c2c, 0 0 0 1.4em #EDEEE8, 0 0 0 1.6em #2c2c2c;
    }
}
.animatedload {
    position: relative;
    top: -150px;
    width: 0.5em;
    height: 0.5em;
    margin: 30% auto;
    background: #2c2c2c;
    border-radius: 50%;
    -webkit-animation: anim 800ms alternate infinite linear;
    -moz-animation: anim 800ms alternate infinite linear;
    -ms-animation: anim 800ms alternate infinite linear;
    -o-animation: anim 800ms alternate infinite linear;
    animation: anim 800ms alternate infinite linear;
}
