body {
    background: -webkit-linear-gradient(75deg, #f2f2f2 50%, #52a 50.1%);
    background: linear-gradient(15deg, #f2f2f2 50%, #52a 50.1%);
    font-family: 'Raleway', serif;
    height: 658px;
    text-align: center;
    color: #fff;
}
.timer {
    margin-top: 100px;
    margin-left: 200px;
    overflow: hidden;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 10px;
}
.timer .top {
    position: relative;
    height: 60px;
}
.timer .title {
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
}
.fi-list {
    color: #52a;
}
.name p {
    margin-right: 70px;
    font-size: 20px;
    text-transform: uppercase;
    color: gray;
}
.timer .num {
    background-color: #52a;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* countdown */

.timer .hrs {
    color: #000;
    margin: 40px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 120px;
    height: 170px;
}
.timer .dots {
    font-size: 120px;
}

/*  media queries */


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        height: 501px;
    }
    .timer {
        margin-top: 80px;
        margin-left: 70px;
        overflow: hidden;
        box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        border-radius: 10px;
    }
    .timer .hrs {
        color: #000;
        margin: 30px;
        border-radius: 10px;
        background-color: #fff;
        font-size: 110px;
        height: 170px;
    }
    .timer .num {
        height: 230px;
    }
    .timer .dots {
        font-size: 120px;
    }
}
